---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: docker

"on":
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

  schedule:
    - cron: 0 8 * * 1

permissions:
  contents: write
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Detect version
        run: |
          VER=$(sed -ne "s/^.*CALENS_VERSION=\(.*\)/\1/p;" Dockerfile)
          echo IMAGE_TAG=${VER} >> ${GITHUB_ENV}
          echo "Building ${VER}"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
            quay.io/${{ github.repository }}
          flavor: |
            latest=true
          tags: |
            type=raw,value=${{ env.IMAGE_TAG }}
            type=schedule,pattern={{date 'YYYYMMDD'}}
            type=ref,enable=true,event=branch
          labels: |
            org.opencontainers.image.vendor=Webhippie
            maintainer=Thomas Boerger <thomas@webhippie.de>

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Hub login
        uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Quay login
        uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Ghcr login
        uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker build
        uses: docker/build-push-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          provenance: false
          platforms: linux/amd64,linux/arm64,linux/arm/v6
          push: ${{ github.event_name != 'pull_request' }}
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Hub readme
        uses: actionhippie/pushrm@v1
        if: github.event_name != 'pull_request'
        with:
          provider: dockerhub
          target: ${{ github.repository }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          description: Docker image for calens
          readme: README.md

      - name: Quay readme
        uses: actionhippie/pushrm@v1
        if: github.event_name != 'pull_request'
        with:
          provider: quay
          target: quay.io/${{ github.repository }}
          apikey: ${{ secrets.QUAY_APIKEY }}
          readme: README.md

...
